{
  "extends": "../.eslintrc",
  "env": {
    "node": false,
    "browser": true
  },
  "globals": {
    "angular": true,
    "ionic": true,
    "cordova": true,
    "localforage": true,
    "firebase": true,
    "google": true,
    "Microsoft": true

  },
  "rules": {
    "no-console": 1
  }
}
