<!--
  This template is for payment popup
  Show driver the trip cost, will need to work on it. Just a sample
-->
<div class="list popup-payment">
  <label class="item item-input item-stacked-label no-padding padding-bottom">
    <span class="input-label">Mileage(USD)</span>
    <p>$10</p>
  </label>
  <label class="item item-input item-stacked-label no-padding padding-bottom">
    <span class="input-label">Package Size(USD)</span>
    <p>(Samll) $5</p>
  </label>
  <div class="item positive-bg text-center light">
    <span>Total(USD)</span>
    <h4 class="light">$15</h4>
  </div>
</div>
